
/*use this class for winner*/
/*.bubble { 
  animation:pulse 1s infinite; 
  -webkit-animation:pulse 1s infinite;
}*/

.board {
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 0 auto;
}
h1 {
	text-align: center;
	margin-bottom: 50px;
	font-family: "Helvetica Neue", sans-serif;
}

.box{
    width:30%;
    height:30%;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 4px 4px black; 
    position: relative;
    transition: all 0.2s ease;
}

.player-info {
    margin-left: 20px;
    font-size: 25px;
    float: left;
}

.m{
    border-left:2px solid;
    border-right:2px solid;
}

.c{
    border-top:2px solid;
    border-bottom:2px solid;

}
.box:active {
    top: 4px;
    left: 4px;
    box-shadow: 0 0 black;

}

.player1 {
    background-color: blue;
}

.player2 {
    background-color: red;
}

#megaman {
    background: url('../img/mmx_x4_x_sheet.gif')  no-repeat -217px -1395px;
    width: 40px;
    height: 80px;
    -webkit-animation: megaman .5s steps(4) infinite;
    animation: megaman .5s steps(4) infinite;
}

@keyframes megaman {
    from {background-position: -5px 0; left: 0px;}
    to{background-position: -586px 0; left: 100px;}
}
@-webkit-keyframes megaman {
    from {background-position: -97px -1395px; left: 0px;}
    to{background-position: -250px -1395px; left: 100px;}
}