/*Josefin Sans font*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

* {
	font-family: "Josefin Sans", sans-serif;
}

.board {
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 0 auto;
}
h1 {
	text-align: center;
	margin-bottom: 50px;
	font-family: "Josefin Sans", sans-serif;
}

.box{
    width:30%;
    height:30%;
    margin: 10%;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 4px 4px black; 
    position: relative;
    transition: all 0.2s ease;
}

.m{
    border-left:2px solid;
    border-right:2px solid;
}

.c{
    border-top:2px solid;
    border-bottom:2px solid;

}
.box:active {
    top: 4px;
    left: 4px;
    box-shadow: 0 0 black;

}
#player1 {
	float: left;
	margin-left: 30px;
}
#player2 {
	float: left;
	margin-left: 30px;
}

.player1 {
    background-color: orange;
}

.player2 {
    background-color: chartreuse;
}