/*Josefin Sans font*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

* {
	font-family: "Josefin Sans", sans-serif;
}

.board {
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 0 auto;

}

h1 {
	text-align: center;
	margin-bottom: 50px;
	font-family: "Josefin Sans", sans-serif;
}

.box{
    width:30%;
    height:30%;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 4px 4px black; 
    position: relative;
    transition: all 0.1s ease;
}

.m{
    border-left:10px solid;
    border-right:10px solid;
}

.c{
    border-top:10px solid;
    border-bottom:10px solid;
}
.box:active {
    top: 4px;
    left: 4px;
    box-shadow: 0px 0px black;

}